#header {
  .social-shortcuts {

    span.shortcut {
      float: right;
      width: 30px;

      img {
        max-width: 100%;
        max-height: auto;
      }
    }
  }

  #navigation {
    ul.main {
      margin: 0px 0px 0px 0px;
      list-style:none;
      float: right;
      background: #000;
      background: rgba(0, 0, 0, 0.8);
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
      width: 625px;

      li {
        float:left;
        display:block;
        position:relative;
        z-index:500;
        padding: 5px 25px;

        a {
          display:block;
          text-decoration:none;

          &:hover {
            color: #fff;
          }
        }
      }

    ul.sub {
      width: 100%;
      border-top: 1px solid #999;
      display: none;
      position: absolute;
      left: -1px;
      top: 26px;
      list-style:none;
      a {
        display:block;
        &:hover {
          color: #fff;
        }
      }

      li {
        width: 100%;
        text-align: left;
        float: left;
        padding: 5px 25px;
        background: #000;
        background: rgba(0, 0, 0, 0.8);
        &:hover {
          border: none;
        }
      }
    }
  }
}
}
