*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
src/tmp
src/log/
src/public/images/
src/public/banners/
src/public/resources/
src/config/mongoid.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
doc/*
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
.sass-cache/

cookbooks/*
# YARD artifacts
.yardoc
_yardoc
doc/
.vagrant
