*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
src/tmp
src/log/
src/public/**/*
src/config/mongoid.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
doc/*
coverage/*
src/db/*.sqlite3
src/db/backups/*
*.tmproj
*.sw?
.sass-cache/

cookbooks/*
# YARD artifacts
.yardoc
_yardoc
doc/
.vagrant
