= form_for @resource, :html => {:multipart => true, :class => 'form-horizontal' }  do |f|
  .control-group
    = f.label :file, :class => 'control-label'
    .controls
      = f.file_field :file

  .actions
    %p= f.submit 'Update'
