%ul#banners.shadow
  #pagers
  -Banner.all.select {|b| b.live?}.each do |b|
    %li
      -if b.link_to.nil? || b.link_to.empty?
        = image_tag b.file.url
      -else
        = link_to image_tag(b.file.url), b.link_to
