-content_for :social do
  .grid_16
    #feeds
      .feed.first
        .blog
          .title justin's blog
          %ul#blogs
      .feed
        .tweets
          .title= link_to 'twitter', 'http://www.twitter.com/fl_citychurch'
          %ul#tweets
      .feed.last
        .calendar
          .title calendar
          #events
  .clear


