-content_for :social do
  .grid_16
    #feeds
      .feed.first
        .blog
          .title justin's blog
          %ul#blogs
      .feed
        .tweets
          .title= link_to 'twitter', 'http://www.twitter.com/fl_citychurch'
          #tweets
            .tweet
              - tweet = Twitter.user_timeline("our_citychurch").first
              .date.gray= tweet.created_at.strftime("%Y-%m-%d %I:%M %p")
              %p= tweet.text
      .feed.last
        .calendar
          .title calendar
          #events
  .clear


