$yellow: #fece1f;
$red: #c22e2e;
$gray: #666;
$white: #fff;
$black: #000;

$base-font-size: 1em;
$base-line-height: 1em;

$h1: $base-font-size * 2;
$h2: $base-font-size * 1.8;
$h3: $base-font-size * 1.6;
$h4: $base-font-size * 1.4;
$h5: $base-font-size * 1.2;
$h6: $base-font-size * .8;
