#feeds {
  width: 100%;
  display: block;

  .feed {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    height: 250px;
    width: 32%;
    display: inline;
    margin: 0% 1% 0% 1%;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;

    .blogs, .tweets, .calendar {
      padding: 3% 6%;
    }

    .blog {
      padding: 10px 0px;

      a {
        color: #fff;
      }

      .title {
      }
    }

    .tweets {
      .tweet {
        padding: 6px 0px;

        p {
          font-size: 1.5em;
          text-align: center;
        }
      }
    }

    .calendar {
      .event {
        padding: 6px 0px;

        a {
          color: #fff;
        }
      }
    }
  }
  .feed.first { margin-left: 0px; }
  .feed.last { margin-right: 0px; }

  .date {
    font-size: .8em;
    padding-bottom: 3px;
  }
}
